.navigation-bar {
  width: 100%;
}

.navigation-bar__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  background: #006992;
  justify-content: space-evenly;
  /* equal to 10px when font is 16px */
  padding: 0.625rem;
}

.navigation-bar__nav-link {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(#fff, #fff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .3s;
}

/* we set not only when hovering but also when focusing an element, this helps
so that keyboard nav users have the same underline animation */
.navigation-bar__nav-link:hover, .navigation-bar__nav-link:focus {
    background-size: 100% 1px;
}